h1 { font-size: 60px; }
.ko{font-family: 'Kosugi Maru', sans-serif;}
.ga{font-family: 'RocknRoll One', sans-serif;}
.so{font-family: 'Zen Kurenaido', sans-serif;}
.su{font-family: 'Rampart One', cursive;}
